@import "_fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: 'Mariupol', sans-serif;
    background: #1f1f27 url("../public/background.png") repeat;
    color: white;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }

  progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    height: 4px;
  }

  progress[value]::-webkit-progress-bar {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
  }

  progress[value]::-webkit-progress-value {
    background: linear-gradient(94.98deg, #416C9F -1.4%, #C9BC5F 101.35%), #CD0001;

    border-radius: 20px;
  }

  .border-image {
    border-image: linear-gradient(to right, #416C9F, #C9BC5F) 1;
  }

  .button-gradient {
    @apply relative text-white p-5 h-16 border-before-gradient before:content-[''] after:absolute after:w-full after:h-full after:left-3 after:top-1.5 after:border-2 after:border-white after:skew-x-20 lg:w-[234px] w-[178px]
  }

  .border-before-gradient:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 2px solid;
    transform: skew(20deg);
    transition: all .3s ease-in-out;

    @apply border-image;
  }

  .button-flat {
    @apply relative text-white p-5 h-16 after:absolute after:w-full after:h-full after:left-3 after:top-1.5 after:border-2 after:border-white after:skew-x-20 w-[234px];
  }

  .button-flat--background {
    @apply absolute top-1.5 left-3 w-0 h-full bg-white mix-blend-overlay skew-x-20;
    transition: width .3s ease-in-out;
  }

  .button-flat:hover .button-flat--background {
    @apply w-full
  }

  .gradient-background {
    @apply absolute top-0 left-0 w-0 h-full bg-gradient-to-r from-blue to-yellow skew-x-20;
    transition: width .3s ease-in-out;
  }

  .button-gradient:hover .gradient-background {
    @apply w-full
  }

  .text-fill-transparent {
    -webkit-text-fill-color: transparent;
  }

  .border-arrow {
    border: 5px solid;
    border-image: linear-gradient(93.17deg, #1F1F27 0%, #416C9F 14.84%, #BEB664 32%, #1F1F27 63.33%) 1;
  }

  .facebook,
  .instagram {
    cursor: pointer;
  }

  .facebook:hover path{
    fill: url('#paint0_linear_255_261');
    fill-opacity: 1;
  }

  .instagram:hover .inst-1 {
    fill: url('#paint0_linear_255_262');
    fill-opacity: 1;
  }

  .instagram:hover .inst-2 {
    fill: url('#paint1_linear_255_262');
    fill-opacity: 1;
  }

  .instagram:hover .inst-3 {
    fill: url('#paint2_linear_255_262');
    fill-opacity: 1;
  }

  .image-gradient-1 {
    background: url(../public/kharkiv-1.png) no-repeat bottom;
    background-size: cover;
  }

  .image-gradient-2 {
    background: url(../public/kharkiv-2.png) no-repeat top;
    background-size: cover;
  }

  g {
    display: block;
  }

  #core {
    fill: #CD0001;
    animation: pulse1 1.5s ease-in-out infinite;
  }

  .map-dots {
    cursor: pointer;
  }

  #radar  {
    fill: rgba(205, 0, 1, .5);
    animation: pulse2 1.5s ease-in-out infinite;
    filter: blur(4px);
  }

  #cored {
    fill: #CD0001;
    opacity: 1;
    /*animation: pulse1 1.5s ease-in-out infinite;*/
  }

  .glowing-button-red {
    @apply z-20;
  }

  @keyframes glowingRed {
    0% {
      filter: drop-shadow(0 0 0px #CD0001);
    }

    50% {
      filter: drop-shadow( 0 0 5px #CD0001) drop-shadow( 0 0 15px #CD0001) drop-shadow( 0 0 20px #CD0001);
      /*filter: drop-shadow(0 16px 32px #CD0001);*/
    }

    100% {
      filter: drop-shadow( 0 0 10px #CD0001) drop-shadow( 0 0 30px #CD0001) drop-shadow( 0 0 40px #CD0001);
    }
  }

  @keyframes pulse1 {
    0% {
      transform: scale(1);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  @keyframes pulse2 {
    0% {
      transform: scale(1);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
}

